*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
nav{
    background-color: #fff;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.nav-items{
    margin:auto 0;
}
.nav-items ul{
    display: flex;
    gap: 30px;
    align-items: center;
}
.nav-items ul li{
    list-style: none;
}
.nav-items ul li a{
    font-family: "Arimo", sans-serif;
    color: #575757;
    font-size: 16px;
    font-weight: 500;
}
.button{
    margin:auto 0;
}
.button .btn{
    background-color: #1D4ED8;
    color: #fff;
    font-family: "Arimo", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 24px;
    border-radius: 5px;
    border: none;
}

/* Hero Section Start */
.hero{
    background-image: url("./assets/banner.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
   
}
.hero-overlay{
    background-color: rgba(0, 0, 0, 0.5);
     padding: 50px 0;
}
.hero-content{
    text-align: center;
    z-index: 999;
    padding-top:50px;
    padding-bottom: 200px;
}
.hero-content h1{
    font-family: "Inter", sans-serif;
    color: #fff;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 20px;
}
.hero-content p{
    font-family: "Inter", sans-serif;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    width: 821px;
    margin: 0 auto;
}
.hero-btn{
    text-align: center;
}
.hero-btn .btn{
    font-size: 22px;
    font-weight: 500;
    padding: 15px 30px;
}